@charset "utf-8";

* {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "h h"
        "n ar"
        "f f";
    text-align: justify;
    width: 80%; /* width esetén a méretet százalékos */
    max-width: 800px;
}

body {
    margin: 0;
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
}

article {
    grid-area: ar;
}

footer {
    grid-area: f;
}
header,
footer,
nav,
main,
article {
    border: 1px solid grey;
    padding: 10px;
}

nav a {
    text-decoration: none;
    display: block;
}

nav li {
    list-style-type: none;
    padding: 0;
}

nav a:hover {
    color: pink;
}

@media screen and (max-width: 600px) {
    main {
        /* background: red; */
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    main {
        /* background: greenyellow; */
        grid-template-columns: 1fr;
        grid-template-areas:
            "h"
            "n"
            "a"
            "f";
    }
}

/* navigáció li tagjei kerüljenek egymás mellé */

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
